<div class = "line1">
    <div class ="wrap">
        <div class="icon">
            <img src="images\icon.png" width = 30% alt="picture of icon" style="margin:10px 10px">
        <div class="music">
            <a href= <audio controls>
            <source src="audios\雨林3.mp3"/>
            </audio>
            <img src="images\music1.png" width = 90% alt="picture of music icon"></a>
        </div>    
    </div>
</div>

<div class="topnav">
    <ul class="topnav__content">
        <li class="topnavitem" data-index="1">先行预告</li>
        <li>/</li>
        <li class="topnavitem" data-index="2">背景介绍</li>
        <li>/</li>
        <li class="topnavitem" data-index="3">精彩图集</li>
        <li>/</li>
        <li class="topnavitem" data-index="4"><a href="/main">视频主页</li></a>
        <li>/</li>
        <li class="topnavitem" data-index="5">成员信息</li>
    </ul>
</div>

<br />&nbsp;<br />

<div class="container" style ="position:relative;"> 
    <img src="images\homepage.jpg" width = "100%" alt="picture of homepage">
    <div class="zhi" style="color:rgba(255,251,240,0.7); font-size:12vw;font-family:'STXingkai'">咫</div>
    <br>
    <div class="chi" style="color:rgba(255,251,240,0.7); font-size:12vw;font-family:'STXingkai'">尺</div>
    </div>
</div>

<br />&nbsp;<br />
<br />&nbsp;<br />

<h2 style="color:rgba(255,251,240,0.7);font-family:'KaiTi'"> —— 先行预告/ trailer —— </h2>

<video width="70%" height="auto" controls poster='images\homepage.jpg'>
    <source src="videos\光遇片段1.mp4" type="video/mp4">
    <object data="videos\光遇片段1.mp4" width="320" height="240">
      <embed width="320" height="240" src="movie.swf">
    </object>
</video>
  
<br />&nbsp;<br />
<br />&nbsp;<br />

<h2 style="color:rgba(255,251,240,0.7);font-family:'KaiTi'"> —— 背景介绍 / background —— </h2>

<div class="background">
    <center><img src="images\背景介绍.png" width = "60%" alt="picture of backgroundinfo"></center>
    <div class="backgroundinfo" style="color:rgba(0, 0, 0, 1); font-size:16px;font-family:'STXingkai'"> 
    咫尺之近，近在毫厘之间，其之隔，竟成海天之遥。两个相爱的人，明明近在咫尺，
    却不曾发觉对方就在身边。梦境残缺，爱苦离别，一切都归咎于一个有关音乐的命运，而你相信命运吗？</div>
    </div>
</div>

<br />&nbsp;<br />

<h2 style="color:rgba(255,251,240,0.7);font-family:'KaiTi'"> —— 精彩图集 / images —— </h2>

<br />&nbsp;<br />
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images\图片1.jpg" class="d-block w-50" alt="1" style="display: block; margin-right: auto; margin-left: auto;">
      </div>
      <div class="carousel-item">
        <img src="images\图片2.jpg" class="d-block w-50" alt="2" style="display: block; margin-right: auto; margin-left: auto;">
      </div>
      <div class="carousel-item">
        <img src="images\图片3.jpg" class="d-block w-50" alt="3" style="display: block; margin-right: auto; margin-left: auto;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

