<a  href="audios\雨林.mp3"> <img src="images\头像.jpg"  width = 3% alt="picture of user icon" style="float:right;margin:10px 10px"></a>



<br />&nbsp;<br />
<br />&nbsp;<br />
<br />&nbsp;<br />
<br />&nbsp;<br />

<h1 class="maintitle" >视频内容目录 / Collections of the video content</h1>


<div id="content-wrapper">
  <div class="container-fluid pb-0">
     <div class="video-block section-padding">
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="video-card">
                <div class="video-card-image">
                    <a class="play-icon" href="/video1"><i class="fas fa-play-circle"></i></a>
                    <a href="#"><img class="img-fluid" src="images\homepage.jpg" alt=""></a>
                    <div class="time">3:50</div>
                </div>
                <div class="video-card-body">
                    <div class="video-title">
                      <a href="#">第一集/The first episode</a>
                    </div>
                    <div class="video-page text-success">
                      Richard  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                    </div>
                    <div class="video-view">
                      0 views &nbsp;<i class="fas fa-calendar-alt"></i> 8 Hours ago
                    </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="video-card">
                <div class="video-card-image">
                    <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                    <a href="#"><img class="img-fluid" src="images\图片1.jpg" alt=""></a>
                    <div class="time">3:50</div>
                </div>
                <div class="video-card-body">
                    <div class="video-title">
                      <a href="#">第二集/The second episode</a>
                    </div>
                    <div class="video-page text-success">
                      Richard  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                    </div>
                    <div class="video-view">
                      1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                    </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="video-card">
                <div class="video-card-image">
                    <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                    <a href="#"><img class="img-fluid" src="images\图片2.jpg" alt=""></a>
                    <div class="time">3:50</div>
                </div>
                <div class="video-card-body">
                    <div class="video-title">
                      <a href="#">第三集/The third episode</a>
                    </div>
                    <div class="video-page text-success">
                      Richard  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                    </div>
                    <div class="video-view">
                      1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                    </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="video-card">
                <div class="video-card-image">
                    <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                    <a href="#"><img class="img-fluid" src="images\图片2.jpg" alt=""></a>
                    <div class="time">3:50</div>
                </div>
                <div class="video-card-body">
                    <div class="video-title">
                      <a href="#">第四集/The fourth episode</a>
                    </div>
                    <div class="video-page text-success">
                      Richard  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                    </div>
                    <div class="video-view">
                      1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                    </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="video-card">
                <div class="video-card-image">
                    <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                    <a href="#"><img class="img-fluid" src="images\图片2.jpg" alt=""></a>
                    <div class="time">3:50</div>
                </div>
                <div class="video-card-body">
                    <div class="video-title">
                      <a href="#">第五集/The fifth episode</a>
                    </div>
                    <div class="video-page text-success">
                      Richard  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                    </div>
                    <div class="video-view">
                      1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                    </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="video-card">
                <div class="video-card-image">
                    <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                    <a href="#"><img class="img-fluid" src="images\图片2.jpg" alt=""></a>
                    <div class="time">3:50</div>
                </div>
                <div class="video-card-body">
                    <div class="video-title">
                      <a href="#">第六集/The sixth episode</a>
                    </div>
                    <div class="video-page text-success">
                      Richard  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                    </div>
                    <div class="video-view">
                      1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                    </div>
                </div>
              </div>
            </div>