<h3  style="color:rgba(255,251,240,0.5);">Stats Search</h1>

    <form  style="color:rgba(255,251,240,0.5);" method="post" action="/stats">
        Enter the uid of author: <input type="text" name="uid"><br>
        <input type="submit">
    </form>